* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-chart-container {
  display: flex;
  justify-content: space-evenly;
}

.flex-chart-item {
  flex-basis: 48%;
}

.container {
  padding: 2rem;
  background-color: cornsilk;
  min-height: 100vh;
}

.canvas-container {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.input-container {
  padding: 0 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.input-group {
  flex-basis: 20%;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.input-group input {
  font-size: inherit;
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
  display: block;
  border-radius: 0.5rem;
}

.input-group label {
  display: block;
}

.input-group p {
  display: block;  
  margin-top: 0.5rem;
}

.chart-at {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}